@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .form-label {
      @apply flex-col
    }
  } */

.form-label {
  display: flex;
  flex-direction: column;
}
.form-label > input {
  height: 3rem;
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
}

.about {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 390px;
  right: 90px;
  align-items: center;

  gap: 40px;
  height: 50vh;
  padding: 20px;
}
.about_p {
  max-width: 60%;
  font-size: 20px;
  letter-spacing: 1px;
}
.about_h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 50px;
  background: linear-gradient(10deg, #fdcd3b 40%, #000000 60%);
  height: 50vh;
  color: white;
  text-align: center;
}
.mission {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 300px;
  left: 390px;
  right: 90px;
  align-items: center;
  gap: 40px;
  height: 50vh;
  padding: 20px;
}
.mission_p {
  max-width: 60%;
  font-size: 20px;
  letter-spacing: 1px;
}
.mission_h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 50px;
  background: linear-gradient(173deg, #000000 40%, #e8ef1a 60%);
  height: 50vh;
  color: white;
  text-align: center;
}
