@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .form-label {
      @apply flex-col
    }
  } */

.form-label {
  display: flex;
  flex-direction: column;
}
.form-label > input {
  height: 3rem;
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
}

.about {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 390px;
  right: 90px;
  align-items: center;

  gap: 40px;
  height: 50vh;
  padding: 20px;
}
.about_p {
  max-width: 60%;
  font-size: 20px;
  letter-spacing: 1px;
}
.about_h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 50px;
  background: linear-gradient(10deg, #fdcd3b 40%, #000000 60%);
  height: 50vh;
  color: white;
  text-align: center;
}
.mission {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 300px;
  left: 390px;
  right: 90px;
  align-items: center;
  gap: 40px;
  height: 50vh;
  padding: 20px;
}
.mission_p {
  max-width: 60%;
  font-size: 20px;
  letter-spacing: 1px;
}
.mission_h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 50px;
  background: linear-gradient(173deg, #000000 40%, #e8ef1a 60%);
  height: 50vh;
  color: white;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.button {
  display: flex;
  justify-content: center;
  margin-left: 12rem;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  background-color: red;
  text-align: center;
  height: 4rem;
  /* align-items: center;
   */
  font-size: large;
  width: 21rem;
}
.btn {
  letter-spacing: 1px;
  width: 21rem;
}
.button:hover {
  background-color: rgb(36, 31, 31);
}

.modal {
  background: #fff;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.body {
  padding-top: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Sign In*/

/* .sign-in {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "";
  border-bottom: 1px solid white;
  
}

.sign-in > h2 {
  font-size: 25px;
  font-weight: 200;
  color: white;
}
.sign-in > p {
  color: rgb(169, 132, 132);
  margin-top: -13px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  font-size: 20px;
  color: white;
  font-weight: 100;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  font-weight: 100;
}
form > input {
  height: 1rem;
  padding: 10px;
  font-size: 15px;
  border-top: none;
  font-weight: 100;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(70, 68, 68);
  color: white;
  width: 23rem;
}
.form-button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.signIn-button {
  height: 3.5rem;
  width: 11rem;
  font-size: 13px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.google-button {
  height: 3.5rem;
  width: 13rem;
  font-size: 13px;
  background-color: rgb(66, 133, 244);
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .sign-in > h2 {
    font-size: 21px;
  }
} */

.sign-in-label {
  font-weight: 100;
}
.sign-in-input {
  height: 3rem;
  padding: 10px;
  font-size: 15px;
  border-top: none;
  font-weight: 100;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /* background-color: rgb(70, 68, 68);
   */
  background-color: black;
  color: white;
  width: 23rem;
  border-bottom: 1px solid white;
}
.signIn-button {
  height: 3.5rem;
  width: 11rem;
  font-size: 13px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.google-button {
  height: 3.5rem;
  width: 13rem;
  font-size: 13px;
  background-color: rgb(66, 133, 244);
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}